<div class="items-head">
  <h2>Items</h2>
  <form>
    <div class="form-group input-block">
      <input
        type="text" 
        class="form-control"
        placeholder="Type name here..."
        ngModel
        name="item"
        #item
        required>
      <button class="btn btn-default" (click)="addItem(item)">Add new</button>
    </div>
  </form>
  <div class="alert alert-danger" *ngIf="!item.valid && item.touched"></div>
</div>
<ul class="list-group">
  <li 
    *ngFor="let event of dairyEvents, let i=index"
    class="list-group-item"
    [class.active]="event.active">
    <div class="event-row">
      <a
        href="#"
        (click)="showComment(event)">
        <p class="item-name">
          {{ event.title }}
          <span class="counter badge">{{event.comments.length}}</span>
        </p>
      </a>
      <button 
        class="btn btn-default btn-sm delete-button"
        (click)="deleteItem(event)">Delete</button>
    </div>
  </li>  
</ul>